

figure {
    display: block; /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}

body {
    margin: 0; /* remove any margin from body */
    padding: 0; /* ditto for padding */
    background-color: salmon;
}

 #localweather {
    display: flex;
     justify-content: space-around;
    margin-right: 33%;
     margin-top: -1.6%;
}
#title {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #A6D8DB;
    margin-top: -.7%;
    padding-bottom: .1em;
}

.navbar   {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F07C6C;
}

.navbar ul {
    display: flex;
    line-height: 200%;
    list-style-type: none;
    padding: 0;
    font-size: 15px;
}

.navbar ul li   {
    margin-left: 10px;
}

.navbar   {
    margin-left: 2.5px;
}
footer   {

    position: fixed;
    bottom: 7.5%;
    left: 0;
    right: 0;
    font-size: 22px;
    padding: 10px 0 10px 0;
    background-color: #A6D8DB;
}

footer small  {

    margin-left: 5px;
}

.conditions,
.temp,
.area {
    background-color: rgba(200,200,200,.6);
    margin: .9em auto;
    border: 1px solid;
    border-radius: 3px;
}

.temp,
.area {
    text-align: center;
    padding: 5px 25px 5px 25px;
}
.hourly {
    visibility: hidden;
}
.conditions {
    padding: 0 65px 0 65px;
    margin-top: .8em;
}

.temp h1 {
    margin-bottom: -1em;
}


.enlarge {
    font-size: 40px;
}

.highlow {
    float: right;
}

#wind span, #precip span  {
    float: right;
    text-align: right;
}
main  {
    position: fixed;
    top: 15%;
    bottom: 10%;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(../images/sunny-winter.jpg);

    padding-bottom: 9em;
}
.overview img {
    display: none;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 900px) { /* for desktop */
    body {
        flex-direction: row; }
    .conditions{
        display: flex;
        height: 100%;
        padding-bottom: 7em;
        padding-top: .1em;
        margin: 0;
        width: 33%;
        background: lightgreen;
        margin-top: auto;
        margin-bottom: auto;
        order: -1;
    }

    .overview {width: 33%;}
    .hourly {width: 33%;
    visibility: visible;}
    #localweather {
        display: flex;
        justify-content: space-around;
        margin-right: 66%;
        margin-top: -1.6%;
    }
    .hourly ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .navbar   {
        position: fixed;
        top: 7em;
        left: 0;
        right: 0;
        background-color: #F07C6C;
    }
    .mainContent {
        flex-flow: row;
        width: 100%;
    }
    .hourly {
        display: flex;
        height: 100%;
        padding-bottom: 7em;
        padding-top: .1em;
        margin: 0;
        width: 33%;
        background: lightgreen;
        margin-top: auto;
        margin-bottom: auto;
        justify-content:center;
        }

    main  {
        position: fixed;
        top: 23%;
        bottom: 10%;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-image: url(../images/sunny-winter.jpg);
        background-size: cover;
        padding-bottom: 9em;
    }
    .navbar ul {
        justify-content: space-around;

    }
}
