
        * {
            box-sizing: border-box;

        }

        body {
            background: url(../images/site/background.jpg), no-repeat;
            background-size: cover;
            font-family: 'Roboto', sans-serif;
            width: 100%;
            font-size: 19px;

        }
#background {
    background-color: #ffffff;
    max-width: 90%;
}

        #images {
            display: flex;
            background-color: #ffffff;
            background-position: center;
            padding: 4em;
            display: table;
            width: 90%
        }

        #navigation {
            display: flex;
            font-family: 'Roboto', sans-serif;
        }

        nav ul li {
            font-size: 12pt;
            display: inline-flex;
            padding-left: 10px;
            padding-right: 10px;
        }

        #navigation ul {
            justify-content: space-around;
            display: inline-flex;
            flex-flow: nowrap;
            width: 100%;
            list-style-type: none;
            padding: 1em;
            overflow: hidden;
            background-color: #de2226;
        }

        #navigation ul li a {
            display: flex;
            display: block;
            color: #ffffff;
            padding: 10px;
            text-decoration: none;
        }

        #navigation ul li a:hover {
            background-color: lightcoral;
        }

        #welcome {
            display: flex;
            font-family: 'Roboto', sans-serif;
            font-size: 2em;
        }

        #rockets {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
            background-image: url(/RC03.github.io/acme/acme/images/site/feature.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            height: auto;
        }

        #textwant {
            color: #de2226;
            display: flex;
            flex-direction: column-reverse;
            font-size: 16px;
            padding: .5em;

            background-color: rgba(220, 220, 220, .6);
            width: 50%;
        }

        #rockets img {
            width: 80%;
            height: auto;
        }

        .recipes {
            /*    border: 1px solid #ccc;*/
            display: inline-flex;
            width: 100%;
            flex-wrap: wrap;
        }



        .recipes img {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            height: 30%;
            background-color: #808080;
            overflow: hidden;
            width: auto;
            padding-left: 1em;
            padding-right: 1em;
        }

        .recipes div {
            text-align: center;
        }

        #food {
            overflow: hidden;
            width: auto;
            padding-left: 1em;
            padding-right: 1em;
        }

        #review {
            float: right;
            width: 100%
        }

        #pageTwo {
            display: flex;
            width: 100%;
        }

        #img {
            display: block;
            width: 80%;
            padding-bottom: 20px;
        }

        #img img {
            width: 100%;
            height: auto;
            padding: 23px;
            padding-top: 15px;
        }

        #information {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: flex-end;
            font-size: 20px;
        }

        #manufac {
            width: 100%;
        }

        #price {
            display: flex;
            color: #de2226;
            font-weight: bolder;
            font-size: 20px;
            margin-bottom: 10px;
        }

        #product {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        footer p {
            text-align: center;
            margin-bottom: 1em;
            margin-top: 1em;
        }

        footer {
            border-top: solid black;
            margin-top: 1em;
        }

        @media only screen and (min-width: 900px) {
            /* for desktop */
            body {
                background: url(../images/site/background.jpg), no-repeat;
                background-size: cover;
                font-family: 'Roboto', sans-serif;
                width: 100%;
                font-size: 19px;
                background-position:center;
                margin: 3em;
            }
            #row {
                display: flex;
                flex-flow: row-reverse;
                justify-content: space-between
            }
            .recipes img {
                display: flex;
                flex-wrap: wrap;
                height: 0%;
            }
            .recipes {
                /*    border: 1px solid #ccc;*/
                display: inline-flex;
                width: 180%;
                flex-wrap: wrap;
            }
            #review {
                float: right;
                width: 50%;
            }
            #rockets img {
                width: 100%;
                height: auto;
            }
            #textwant {
                color: #de2226;
                display: flex;
                flex-direction: column-reverse;
                font-size: 16px;
                padding: 1em;
                margin: 0;
                background-color: rgba(220, 220, 220, .6);
                width: 40%;
            }
            #information {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: flex-end;
                font-size: 30px;
            }

            #manufac {
                width: 100%;
            }

            #price {
                display: flex;
                color: #de2226;
                font-weight: bolder;
                font-size: 40px;
                margin-bottom: 10px;
            }
}
